body
{
background: grey;

}
#container
{
    background: darkgreen;
    margin-left: auto;
    margin-right: auto;
    width: 200;
    height: 200px;
}
#ball
{
    position: relative;
    left: 20px;
    top: 30px;
    background: red;
    width: 20px;
    height: 20px;
    border: .1 solid black;
    border-radius: 50%
    
}